h1 {
    text-align: center;
}

#choice-holder {
  display: flex;
  justify-content: center;
  margin: auto;
}

#choice1 {
  width: 16px;
  height: 16px;
  border: 2px solid black;
}

#choice2 {
  width: 16px;
  height: 16px;
  border: 2px solid black;
}

#choice3 {
  width: 16px;
  height: 16px;
  border: 2px solid black;
}

#choice4 {
  width: 16px;
  height: 16px;
  border: 2px solid black;
}

#input1 {
  width:28px;
  height:28px;
  border: 2px solid black;
  background-color: cyan;
}

#input2 {
  width:28px;
  height:28px;
  border: 2px solid black;
  background-color: cyan;
}

#input3 {
  width:28px;
  height:28px;
  border: 2px solid black;
  background-color: cyan;
}

#input4 {
  width:28px;
  height:28px;
  border: 2px solid black;
  background-color: cyan;
}

.buttons-holder {
  display: flex;
  flex-direction: row;
  padding:4px
}

.cyanBtn {
 width:28px;
 height:28px;
 background-color:cyan;
 border: 1px solid black;
}

.yellowBtn {
  width:28px;
  height:28px;
  background-color:yellow;
  border: 1px solid black;
}

.magentaBtn {
  width:28px;
  height:28px;
  background-color: magenta;
  border: 1px solid black;
}

.blackBtn {
  width:28px;
  height:28px;
  background-color: black;
  border: 1px solid black;
}

.inputBoxes {
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;
}

input
{
    font-size:16px;
    height:28px;
    width:28px;
    text-align:center;
}

.button {
  display:block;
}

.buttons
{
    display: flex;
    justify-content: center;
}

.row{
  text-align:center;

}

#choices{
  display:flex;
  justify-content:space-between;

}
